version: "3.5"
services:
  quizrt-auth-db:
    environment:
      ACCEPT_EULA: "Y"
      SA_PASSWORD: Your_password123
    image: microsoft/mssql-server-linux
    volumes:
      - ./data/mssql:/var/opt/mssql
    networks: 
      - authentication-network
  quizrt-auth-server:
    build: .
    environment:
      SQLSERVER_HOST: Server=quizrt-auth-db;User=sa;Password=Your_password123
    links:
      - quizrt-auth-db
    ports:
      - "8091:5000"
    networks: 
      - authentication-network
networks: 
  authentication-network:
    name: quizrt-network
    external: true